.formulario{
    border-color: aquamarine;
    border-radius: 4%;
    border-style: double;
    margin: 5rem;
    .cajaformulario{
        background-color: rgb(21, 179, 179);
        margin: 2rem;
    }
}