.formulario{
    margin: 60px;
    .cajaformulario{
        background-color: rgb(29, 52, 66);
        margin:15px;
    }
    .mb-3{
        color: azure;
        margin: 8px;
        padding: 8px;
    }
}