.formulario{
    border-color: aquamarine;
    border-radius: 4%;
    border-style: double;
    margin: 60px;
    .cajaformulario{
        background-color: rgb(21, 179, 179);
        margin:15px;
    }
}