.rostro{    
    width: 40rem;   
    height: 50rem;
}     

.videoportada{
    grid-area: videoinicio;
    margin: 3em; 
}

.portada{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }

.videodiario{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 50em);
    grid-template-rows: 35em;
    grid-template-areas: 
    "videoinicio textoinicio";
    margin: 2rem;
}

.textoportada{
    grid-area: textoinicio;
}

