@media screen and (max-width:1550px){
    .tama単ovideo{
        max-width: 600px;
        max-height: 400px;
    }
    .descripcion{
        font-size: 20px;
        padding: 0.5em;
    }
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 22px;
        margin: 40px;
    }
    .cajacontenido{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 400px;
        justify-content: center;
        align-items: center;
    }
    .logomarcas{
        max-width: 140px;
        max-height: 140px;
    }
    .seccionsponsor{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 180px);
    }
    .rostro{
        width: 500px;
        height: 600px;
    }
    .contenidoeventos{
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 450px);
    }
    .logomedia{
        width: 130px;
        height: 130px;
    }
}



@media screen and (max-width:1055px){
    .tama単ovideo{
        max-width: 420px;
        max-height: 230px;
    }
    .descripcion{
        font-size: 13px;
        margin: 3em;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 17px;
        margin: 3em;
    }
    .cajacontenido{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        margin: 1.3em;
        grid-template-areas: 
        "video texto";
    }
    .logomarcas{
        max-width: 120px;
        max-height: 120px;
    }
    .seccionsponsor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 100px);
        justify-content: center;
    }
    .donaciones{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 100px);
    }
    .rostro{
        max-width: 300px;
        max-height: 400px;
    }
    .contenidoeventos{
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, px);
    }
    .logomedia{
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width:720px){
    .tama単ovideo{
        max-width: 300px;
        max-height: 150px;
        top: 17%;
        left: 17%;
    }
    .descripcion{
        font-size: 12px;
        margin: 1em;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
        margin: 3em;
    }
    .cajacontenido{
        grid-template-columns: 1fr;
        grid-auto-rows: 180px;
        margin: 1.3em;
        grid-template-areas: 
        "video"
        "texto";
    }
    .logomarcas{
        max-width: 80px;
        max-height: 80px;
    }
    .seccionsponsor{
        grid-template-columns: repeat(2,200px);
        grid-template-rows: repeat(4, 100px);
        justify-content: center;
    }
    .donaciones{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 100px);
    }
    .rostro{
        max-width: 220px;
        max-height: 320px;
    }
    .contenidoeventos{
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, px);
    }
    .galeria{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 380px 380px;
    }
    .logomedia{
        width: 75px;
        height: 70px;
    }
    .logoredes{
        margin: 5rem;
    }
    .formulario{
        margin: 20px;
    }
    .galeriafotos:hover::before{
        content: none;
    }
}

@media screen and (max-width:380px){
    .tama単ovideo{
        max-width: 300px;
        max-height: 200px;
        top: 0;
        left: 0;
    }
    .descripcion{
        font-size: 10px;
        margin: 1em;
    }
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 15px;
        margin: 4em;
    }
    .cajacontenido{
        grid-template-columns: 1fr;
        grid-auto-rows: 150px;
        margin: 1.3em;
        grid-template-areas: 
        "video"
        "texto";
    }
    .logomarcas{
        max-width: 70px;
        max-height: 70px;
    }
    .seccionsponsor{
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(4, 80px);
        justify-content: center;
    }
    .donaciones{
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(2, 80px);
    }
    .rostro{
        max-width: 220px;
        max-height: 320px;
    }
    .contenidoeventos{
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, px);
    }
    .contenidodonaciones{
        margin: 4.5em;
    }
    .contenidosponsor{
        margin: 4.5em;
    }
    .logomedia{
        width: 60px;
        height: 60px;
    }
    .galeria{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 200px 200px;
    }
    .galeriafotos:hover::before{
        content: none;
    }
    .formulario{
        margin: 30px;
    }
}

