.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8em;
    margin: 40px;
}


.galeriafotos{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.galeriafotos::before{
    content: "AGS-2022";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #5b40f3a6;
    transform: scale(0);
    transition: transform .4s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 5%;
}
.galeriafotos:hover::before{
    transform: scale(1) rotate(360deg);
}

.galeria__img{
    width: 13rem;
    height: 25rem;
    border-radius: 5%;
    object-fit: cover;
}


.logoredes{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.logomedia:hover{
    transform: scale(1.3);
    transition: 500ms;
}
